*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: lightgray;
}

.contenedor-flexible{

  display: flex; 
  flex-direction: row;
  justify-content:flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 10px;

  background-color: blueviolet;
  border: 2px solid black;
  width: 600px;
  height: 500px;
  color: white;
}

.boxy{
  width: 50%;
  height: 80px;
  background-color: orange;
  border: 2px solid black;
  font-size: 2rem;
}

/* Estilos del card */
img{display: flex;}
.card{
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  width: 685px;
  margin: auto;
  overflow: hidden;
}
.card-content{
  color: rgb(94, 104, 99);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  gap: 15px;
}
.card-content h2{
  font-size: 1.3rem;
}
.card-content p{
  font-size: 0.8rem;
}
.card-user-info{
  display: flex;
  align-items: center;
  gap: 10px;
}
.card-user-info img{
  border-radius: 50%;
}