* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.starbucks {
  margin-bottom: 100px;
}

.box {
  border: black solid 10px;
  font-size: 2em;
  /* 16px * 2 */
  width: 100vw;
  height: 100vh;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .box {
    background-color: rgb(153, 255, 0);
    color: rgb(81, 131, 7);
    font-family: cursive;
    align-items: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .box {
    background-color: rgb(2, 247, 255);
    color: rgb(2, 130, 135);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    align-items: flex-end;
  }
}

@media screen and (max-width: 576px) {
  .box {
    background-color: rgb(240, 121, 23);
    color: rgb(237, 220, 206);
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    align-items: center;
  }
}

/* Clon de Starbucks */
header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 1px solid #bdbdbd;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
}

.header-left {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

nav {
  display: flex;
  gap: 15px;
}

.header-left nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: black;
  transition-duration: 0.8s;
}

.header-left nav a:hover {
  color: #00754a;
}

.header-right {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.locacion a {
  text-decoration: none;
  color: black;
  transition-duration: 0.8s;
}

.locacion a:hover {
  color: #00754a;
}

.btn-registro {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.btn-iniciar {
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid #000;
  background-color: #fff;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
}

/* Banner */
.banner {
  display: flex;
  width: 100%;
  max-width: 1250px;
  border-radius: 15px;
  margin: 50px auto;
  /* overflow: hidden; */
  /*   background-color: orange; */
}

.banner-info,
.banner-image {
  /* flex-grow: 1; */
  width: 50%;
}

.banner-info {
  padding: 100px 0 100px 30px;
  background-color: #1e3932;
  color: white;
  border-radius: 18px 0 0 18px;
}

.banner-info a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
}

.banner-image {
  position: relative;
  background-image: url("https://cdn.pixabay.com/photo/2019/09/04/20/34/field-4452538_1280.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 0 18px 18px 0;
}

.banner-image .malteada {
  position: absolute;
  right: 5%;
  bottom: 0;
  width: 250px;
}

.fresa {
  position: absolute;
  width: 90px;
  right: 11%;
  top: 3%;
  transform: rotate(28deg);
}

.galleta {
  position: absolute;
  width: 150px;
  bottom: 0%;
  right: 0%;
  z-index: 1;
}

/* Footer */

.footer-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  max-width: 1300px;
  gap: 40px;
  margin: auto;
}

footer {
  background-color: #1e3932;
  color: white;
  padding: 50px 0;
}

footer a {
  color: rgba(255, 255, 255, 0.712);
  text-decoration: none;
  transition-duration: 0.4s;
}

footer a:hover {
  color: white;
}

footer nav {
  display: flex;
  flex-direction: column;
}

footer h3 {
  margin-bottom: 30px;
}

/* Práctica conceptos */

.contenedor-flexible {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 10px;

  background-color: blueviolet;
  border: 2px solid black;
  width: 600px;
  height: 500px;
  color: white;
}

.boxy {
  display: flex;
  justify-content: center;
  align-items: center;

  /* width: 50%; */
  height: 80px;
  background-color: orange;
  border: 2px solid black;
  font-size: 1.5rem;
}

.pato {
  align-self: auto;
  width: 50px;
  width: 40%;
}

.foca {
  align-self: auto;
  width: 40%;
  flex-shrink: 4;
}

/* .perro {
  align-self: auto;
  flex-grow: 1;
} */
.vaca {
  align-self: auto;
  width: 40%;
}

/* Sección Caracterírsticas */

.letras {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.layout-Starbucks {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
}

.left {
  display: flex;
  width: 298.4px;
  height: 211px;
  column-gap: 20px;
  align-items: center;
}

.center {
  display: flex;
  width: 298.4px;
  height: 211px;
  align-items: center;
  column-gap: 20px;
}

.right {
  display: flex;
  width: 298.4px;
  height: 211px;
  align-items: center;
  column-gap: 20px;
}

.imagen1 {
  align-self: flex-end;
}

.imagen2 {
  align-self: flex-end;
}

.imagen3 {
  align-self: flex-end;
}

/* Tablet */
@media screen and (max-width: 890px) {
  .container {
    flex-direction: column;
  }

  .header-left {
    justify-content: center;
  }

  .header-right {
    justify-content: center;
  }

  .layout-Starbucks {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 30px;
  }

  .imagen1,
  .imagen2,
  .imagen3 {
    align-self: center;
  }

  .left,
  .center,
  .right {
    height: auto;
    width: auto;
    padding: 0 30px;
  }
}

/* Mobile */
@media screen and (max-width: 576px) {
  .container {
    flex-direction: column;
  }

  .header-left {
    flex-direction: column;
    gap: 15px;
  }

  .header-right {
    flex-direction: column;
    row-gap: 15px;
    margin-top: 15px;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}
